.my_icon_btn{
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;

}

.template-row{
    grid-template-rows: auto 1fr ;
}

.template-row-inverse{
    grid-template-rows:  1fr auto  ;
}

.my-badge{
    height: 2.2rem;
    width : 2.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.my_icon_btn_indigo:hover{
    background-color: var(--bs-indigo);
    border: 1px solid var(--bs-light-border-subtle);
}

.my_icon_btn_light:hover{
    background-color: var(--bs-light);
    border: 1px solid var(--bs-dark-border-subtle);
}
.my_icon_btn_dark:hover{
    background-color: var(--bs-dark);
    border: 1px solid var(--bs-dark-border-subtle);
}
.my_icon_btn_primary:hover{
    background-color: var(--bs-primary);
    border: 1px solid var(--bs-dark-border-subtle);
}

.bg-indigo{
    background-color: var(--bs-indigo);
}

.bg-cyan{
    background-color: var(--bs-cyan);

}
.bg-blue{
    background-color: var(--bs-blue)
}

.lh-small{
    line-height: 0px;
}

.my_active{
    background-color: var(--bs-light-bg-subtle);

}

.standard-card {
    background-color: var(--bs-light-bg-subtle);
    background-color: var(--bs-success-bg-subtle);
    background-color: rgba(207, 234, 212, 0.3);
}

.standard-card-selected{
    background-color: var(--bs-dark-bg-subtle);
    background-color: rgba(206, 212, 218, 0.38);

}

.standard-card:hover{
     background-color: var(--bs-dark-bg-subtle);
    background-color: rgba(206, 212, 218, 0.38);

}

.standard-card:focus{
     background-color: var(--bs-dark-bg-subtle);
    background-color:#CED4DAFF;
    background-color: rgba(206, 212, 218, 0.38);


}

.bg-light-darker{
    background-color: var(--bs-light-bg-subtle);

}

.opacity-10{
    opacity: 10%;
}


.opacity-5{
    opacity: 5%;
}

.objective-card{
    background-color : #c6e1d5;
}


.objective-card:hover{
    background-color : #c6e1d5;
}

.badge-bg-color{
    background-color: #787a7e;
}

.app-bg{
    background-color: var(--bs-light);
    background-color: #f5f5f6;
    background-color: var(--bs-light-bg-subtle);
}

.my-link{
    cursor: pointer;
}